.filePreviewer {
  flex: 0 1 70%;
  height: 0;
  max-width: 380px;
  width: 0;
  /* flex-basis: 25%; */
  min-height: -webkit-fill-available;
  border: 2px solid #1a1b1d;
  border-bottom: 0px;
  padding: 20px 20px 0px 20px;
  border-radius: 18px 18px 0px 0px;
  margin-top: 15px;
  margin-left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filePreviewer span {
  line-height: 32px;
}
.filePreviewer table {
  border-collapse: collapse;
  /* width: 10px; */
  /* max-width:100px; */
  margin: 20px 0px 20px 0px;
}
.filePreviewer td {
  border: 2px solid #1a1b1d;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.filePreviewer td:not(:first-child) {
  overflow-wrap: anywhere;
}
.filePreviewer td * {
  margin: 0;
}
.filePreviewer h3 {
  overflow-wrap: anywhere;
}
.filePreviewer video {
  max-width: 100%;
}
.filePreviewer img {
  max-width: 100%;
}
