.titleBar {
  background-color: var(--theme-layout-primary);
  color: var(--theme-text-primary-dark);
  padding:5px 0px 3px 10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:23px;
  z-index:100;
  /* Used for the electron client so
   the window can be dragged by the title bar */
  -webkit-app-region: drag; 
  
}
.titleName {
  float:left;
  font-size:16px;
  -webkit-user-select: none;
}
.windowControls{
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: none;
}
.windowControls i {
  font-size:13px;
  padding:0px 10px 0px 10px;
  transition:color .2s ease-in-out 0s;
}

.windowControls i:hover{
  color:white;
}