.footer {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  border-top:1px solid #1a1b1d;;
}
.footer section {
  flex-basis:33%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size:14px;
  
}
.footer section p {
  margin-left: 10px;
  max-width: fit-content;
}

.footer section:not(:last-child){
  border-right:1px solid #1a1b1d;;
}